# Claude Code API Configuration
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_BASE_URL=
ANTHROPIC_MODEL=
ANTHROPIC_SMALL_FAST_MODEL=
DEFAULT_MODEL=


# App Configuration
HOST=0.0.0.0
PORT=8010
DEBUG=true
DATABASE_URL=sqlite+aiosqlite:///./cache/data/data.db
WORKSPACE_PATH=

# Channel Configuration
WEBSOCKET_ENABLED=true
DISCORD_ENABLED=false
DISCORD_BOT_TOKEN=
DISCORD_ALLOWED_GUILDS=
DISCORD_TRIGGER_WORD=
TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=
